body{
  margin: 0;
}
.main-content{
  width: 30%;
}
.main-content__title{
  font-family: 'Roboto';
}
.wrapper{
    margin: auto;
    width: 80%
}
.header, .main_section{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  position: relative;
  padding: 40px 0;
  padding-left: 44px;
  font: bold 24px/31px 'PT Serif', arial, helvetica, sans-serif;
}
.logo__circle{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: 0.7;
}
.logo__circle_color_blue{
  left: 8px;
  top: 56%;
  background: #C8DBFB;
}
.logo__circle_color_dark-blue{
  background: #0056EC;
}
.menu__item{
  position: relative;
  margin-right: 26px;
  font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
}

.menu__item:last-child{
  margin-right: 0;
}

.menu__item:after{
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 0;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity .5s, width.5s;
}

.menu__item:hover{
  opacity: .5;
}

.menu__item:hover:after{
  position: absolute;
  display: block;
  content: '';
  left: 0;
  width: 100%;
  height: 3px;
  background: #0056EC;
}

.menu__item_active::after{
  position: absolute;
  display: block;
  content: '';
  left: 0;
  width: 100%;
  height: 3px;
  background: #0056EC;
}

.menu__item:hover:after, .menu__item_active:after{
  opacity: 1;
  width: 100%;
}
